.wrapper {
  width: 50%;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: blue;
  }
}

.input {
  color: #585858;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;
  border-bottom: 2px solid #7d7d7d;
  margin-bottom: 10px;
}

.textarea {
  min-width: 350px;
  resize: none;
  min-height: 150px;
  color: #585858;
  font-size: 16px;
  border: none;
  line-height: 22px;
  background: none;
  border-bottom: 2px solid #7d7d7d;
}

.label {
  color: #7d7d7d;
  position: absolute;
  top: 3px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 16px;
}

.formItem {
  width: 100%;
  margin: 24px 0;
  position: relative;
  flex-shrink: 0;
}

.input:focus,
.textarea:focus {
  outline: 1px solid #7d7d7d;
}

.input:focus+.label,
.textarea:focus+.label {
  top: -22px;
  font-size: 13px;
}

.input:not(:placeholder-shown)+.label,
.textarea:not(:placeholder-shown)+.label {
  top: -22px;
  font-size: 13px;
}

.button {
  font-size: 12px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid blue;
  color: blue;
}