.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navItem {
  list-style: none;

  &Link {
    text-decoration: none;
    color: #7d7d7d;

    &Active {
      font-weight: 700;
    }
  }
}